In [1]:
import pandas as pd

from nltk.tokenize import word_tokenize
from nltk import pos_tag
from nltk.corpus import stopwords
from nltk.corpus import wordnet as wn
from nltk.stem import WordNetLemmatizer
import nltk
from collections import defaultdict

In [2]:
from sklearn import model_selection,svm,naive_bayes
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score

In [46]:
df = pd.read_csv("Corona_NLP_train.csv", encoding ="ISO-8859-1" , names=["UserName", "ScreenName", "Location", "TweetAt", "OriginalTweet", "Sentiment"])
df.drop(0,inplace=True)
df.reset_index(inplace=True)
df.head(5)

,index,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,1,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,2,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,4,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,5,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative

In [47]:
df=df.drop(columns=["index","UserName", "ScreenName", "Location", "TweetAt"])
#df = df.sample(frac=1).reset_index(drop=True)
df.reset_index(inplace=True)

In [48]:
df["Sentiment"]=df["Sentiment"].replace({'Extremely Negative':0,'Negative':0,'Neutral':1,'Positive':2,'Extremely Positive':2})
df.columns=["","text","target"]
df.drop("",axis=1)

                                                    text  target
0      @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...       1
1      advice Talk to your neighbours family to excha...       2
2      Coronavirus Australia: Woolworths to give elde...       2
3      My food stock is not the only one which is emp...       2
4      Me, ready to go at supermarket during the #COV...       0
...                                                  ...     ...
41152  Airline pilots offering to stock supermarket s...       1
41153  Response to complaint not provided citing COVI...       0
41154  You know itÂs getting tough when @KameronWild...       2
41155  Is it wrong that the smell of hand sanitizer i...       1
41156  @TartiiCat Well new/used Rift S are going for ...       0

[41157 rows x 2 columns]

In [49]:
df['target'].value_counts()

2    18046
0    15398
1     7713
Name: target, dtype: int64

In [50]:
a=0
b=0
c=0

for index, row in df.iterrows():
    if(row['target']==0 and a<7000):  
        df.drop(index=index,inplace=True)
        a=a+1   
    elif(row['target']==1 and b<7000):  
        df.drop(index=index,inplace=True)
        b=b+1
    elif(row['target']==2 and c<7000): 
        df.drop(index=index,inplace=True)
        c=c+1
    if(a >=7000 and b>=7000 and c>=7000):
        break;
df2.reset_index(inplace=True)
df.reset_index(inplace=True)
print(df.tail(5))

       index                                                      text  target
20152  41152  41152  Airline pilots offering to stock supermarket s...       1
20153  41153  41153  Response to complaint not provided citing COVI...       0
20154  41154  41154  You know itÂs getting tough when @KameronWild...       2
20155  41155  41155  Is it wrong that the smell of hand sanitizer i...       1
20156  41156  41156  @TartiiCat Well new/used Rift S are going for ...       0

In [54]:
df.drop(labels=['index'],axis=1,inplace=True)
df = df.sample(frac=1).reset_index(drop=True)

In [55]:
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Louis\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Louis\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [56]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Louis\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [57]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Louis\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [58]:
df['Text']=[word_tokenize(entry.lower()) for entry in df['text'].dropna()]

In [59]:
df.head(5)

,index,,text,target,Text
0,33089,33089,Due to the rapid spread of Covid-19 the CDC ad...,0,"[due, to, the, rapid, spread, of, covid-19, th..."
1,35412,35412,Coronavirus Stimulus Fraud May Be A Target For...,0,"[coronavirus, stimulus, fraud, may, be, a, tar..."
2,28895,28895,Friend in Alabama went to grocery store He tel...,2,"[friend, in, alabama, went, to, grocery, store..."
3,26089,26089,? NJ CORPORATE DONATIONS\r\r\n?? @FirstEnergy ...,2,"[?, nj, corporate, donations, ?, ?, @, firsten..."
4,37328,37328,@MaximeBernier During a time when there has be...,0,"[@, maximebernier, during, a, time, when, ther..."

In [60]:
tag_map = defaultdict(lambda : wn.NOUN)
tag_map['J'] = wn.ADJ
tag_map['V'] = wn.VERB
tag_map['R'] = wn.ADV

word_lemmatized = WordNetLemmatizer()

for index,entry in enumerate(df['Text']):
    if(index%1000==0):
        print(index)
    final_words= []
    
    for word,tag in pos_tag(entry):
        if word not in stopwords.words("english") and word.isalpha():
            final_words.append(word_lemmatized.lemmatize(word,tag_map[tag[0]]))
    
    df.loc[index,'text_final']= str(final_words)
df.head(5)

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000

,index,,text,target,Text,text_final
0,33089,33089,Due to the rapid spread of Covid-19 the CDC ad...,0,"[due, to, the, rapid, spread, of, covid-19, th...","['due', 'rapid', 'spread', 'cdc', 'advise', 'e..."
1,35412,35412,Coronavirus Stimulus Fraud May Be A Target For...,0,"[coronavirus, stimulus, fraud, may, be, a, tar...","['coronavirus', 'stimulus', 'fraud', 'may', 't..."
2,28895,28895,Friend in Alabama went to grocery store He tel...,2,"[friend, in, alabama, went, to, grocery, store...","['friend', 'alabama', 'go', 'grocery', 'store'..."
3,26089,26089,? NJ CORPORATE DONATIONS\r\r\n?? @FirstEnergy ...,2,"[?, nj, corporate, donations, ?, ?, @, firsten...","['nj', 'corporate', 'donation', 'firstenergy',..."
4,37328,37328,@MaximeBernier During a time when there has be...,0,"[@, maximebernier, during, a, time, when, ther...","['maximebernier', 'time', 'unprecedented', 'dr..."

In [61]:
df.to_csv("lemmatized_data_reduced.csv")

In [62]:
train_x,test_x,train_y,test_y = model_selection.train_test_split(df['text_final'],df['target'],test_size=0.3)

In [63]:
encoder = LabelEncoder()
train_y_encoded = encoder.fit_transform(train_y)
test_y_encoded = encoder.fit_transform(test_y)

In [64]:
# perform tfidf vectorization on your data
tfidf_vect = TfidfVectorizer(sublinear_tf=True)
tfidf_vect.fit(df['text_final'])
train_x_tfidf = tfidf_vect.transform(train_x)
test_x_tfidf = tfidf_vect.transform(test_x)

In [65]:
SVM=svm.SVC(C=3,kernel='linear',degree=3,gamma='auto')
SVM.fit(train_x_tfidf,train_y)

SVC(C=3, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [66]:
predictions_SVM=SVM.predict(test_x_tfidf)

In [67]:
print("SVM Accuracy Score: ",accuracy_score(predictions_SVM,test_y))

SVM Accuracy Score:  0.8192791005291006

In [72]:
# fit the training dataset on the Naive Bayes classifier
naive = naive_bayes.MultinomialNB(alpha=0.02)
naive.fit(train_x_tfidf,train_y_encoded)
#predit the labels on validation dataset
predictions_NB = naive.predict(test_x_tfidf)
#Use accuracy_score function to get the accuracy
print("Naive Bayes Accuracy score: ",accuracy_score(predictions_NB,test_y_encoded))

Naive Bayes Accuracy score:  0.7166005291005291

In [69]:
#fit using random forest 
clf=RandomForestClassifier()
clf.fit(train_x_tfidf,train_y)
predictions_RF = clf.predict(test_x_tfidf)
print("RF Accuracy Score: ",accuracy_score(predictions_RF,test_y))

RF Accuracy Score:  0.777281746031746

In [73]:
from joblib import dump

In [74]:
dump(SVM,"model")

['model']